<div class="message-container" [ngClass]="{ 'left': message.senderId !== user?.id }">

  <div class="message ">

    <div class="content">
      {{ message.content }}
    </div>
    <i class="bi bi-trash-fill" (click)="deleteMessage()"
      [style.display]="(message.senderId === user?.id ? 'block' : 'none')"></i>
    <div class="time">
      @if (message.senderId === user?.id) {
      {{ message.sendDateTime | date : "EEEE HH:mm" }}
      }
      @else {
      {{ message.receiveDateTime | date : "EEEE HH:mm" }}
      }
    </div>
    <div class="status" [style.display]="(message.senderId === user?.id ? 'block' : 'none')">
      @if(message.status === 'SENT'){
      <i class="bi bi-check"></i>
      }
      @else {
      <i class="bi bi-check-all" [style.color]="message.status === 'READ' ? '#1E90FF' : 'black'"></i>
      }
    </div>
  </div>


</div>
