.chat {
  padding: 10px;
  width: 100%;
  height: 90px;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;

  overflow: hidden;
  * {
    margin: 0;
    padding: 0;
  }
}
.chat:hover
{
  background-color: #4169e1;
}

.head {
  & .name {
    font-size: 18px;
    font-weight: bold;
  }
  & .img {
    & img {
      width: 100%;
      max-width: 60px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      /* object-fit: cover; */
    }
  }
  & .unread {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4169e1;
    margin: auto;
    text-align: center;
  }
  .chat:hover {
    background-color: #4169e1;
  }
}

.message {
  position: relative;
  top: 10px;
  & .text {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  & .date {
    text-align: end;
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .head {
    & .name {
      font-size: 16px;
    }
    & .unread {
      width: 15px;
      height: 15px;
    }
  }

  .message {
    & .text {
      font-size: 14px;
    }
    & .date {
      font-size: 13px;
    }
  }
}
@media (max-width: 760px) {
  .chat {
    height: 80px;
  }

  .head {
    & .name {
      font-size: 16px;
      font-weight: bold;
    }

    & .img {
      padding-right: 10px;
    }
    & .unread {
      width: 20px;
      height: 16px;
    }
  }

  .message {
    & .text {
      font-size: 14px;
    }
    & .date {
      font-size: 14px;
    }
  }
}
@media (max-width: 460px) {
  .chat {
    height: 70px;
  }

  .head {
    & .name {
      font-size: 16px;
      font-weight: bold;
    }

    & .img {
      padding-right: 10px;
    }
    & .unread {
      width: 20px;
      height: 16px;
    }
  }

  .message {
    position: relative;
    top: 5px;
    & .text {
      font-size: 14px;
    }
    & .date {
      font-size: 14px;
    }
  }
}
