<div class="chat container-fluid ">

  <div class="head row">
    <div class="img col-2 ">
      <img src="{{ chat.imageUrl }}" alt="" />
    </div>
    <div class="name col-8">{{ chat.name }}</div>
    <div class="unread col-2" [style.display]="chat.numberOfUreadMessages ? 'block' : 'none'">{{
      chat.numberOfUreadMessages
      }}</div>
  </div>
  <div class="message row ">
    <div class="col-2"></div>
    <div class="text col-7 ">
      @if (chat.lastMessage) {
      {{ chat.lastMessage.content }}
      }
      @else {
      No Message!
      }
    </div>
    <div class="date col-3">
      @if (chat.lastMessage) {
      @if(chat.lastMessage.senderId === user?.id){
      {{ chat.lastMessage.sendDateTime | date : "dd/MM/yyyy" }}
      }
      @else {
      {{ chat.lastMessage.receiveDateTime | date : "dd/MM/yyyy" }}
      }
      }
    </div>
  </div>
</div>
