<div class="chat container-fluid ">

  <div class="head row">
    <div class="img col-2  ">
      <img src="{{ chat.imageUrl }}" alt="" class="img-fluid" />
    </div>
    <div class="col-9  ">
      <div class="row">
        <div class="name col-8   ">{{ chat.name }}</div>
        <div class="unread col-1 col-lg-2 " [style.display]="chat.numberOfUreadMessages ? 'block' : 'none'">{{
          chat.numberOfUreadMessages
          }}</div>
      </div>
      <div class="message row ">
        <div class="text col-8  ">
          @if (chat.lastMessage) {
          {{ chat.lastMessage.content }}
          }
        </div>
        <div class="date col-4  ">
          @if (chat.lastMessage) {
          @if(chat.lastMessage.senderId === user?.id){
          {{ chat.lastMessage.sendDateTime | date : "dd/MM/yyyy" }}
          }
          @else {
          {{ chat.lastMessage.receiveDateTime | date : "dd/MM/yyyy" }}
          }
          }
        </div>
      </div>
    </div>
    
    </div>

</div>
