<div class="container">
  <div class="row">
    <div class="sidebar col-1"><i class="bi bi-list" (click)="displayChats()"></i>

      @for (chat of chats; track $index) {
      
      <div class="chat" (click)="press(chat)">
        <img [src]="chat.imageUrl" alt="">
      </div>
      }
      
      </div>
      <div class="chats col-11 col-lg-4" [style.display]="(hideChats  ? 'none' : 'block')">
      <div class="head">
        <img src="{{ user.imageUrl }}" alt="">
      </div>
      <div class="search">
        <div class="searchChat">
          <i class="bi bi-search"></i>
          <input type="text" (keyup)="search($event)" name="search" #key id="" placeholder="search chat" />
        </div>
      </div>
      <div class="search-result">
        @for (user of searchResult; track $index) {

        <div class="user" (click)="openUserChat(user)">
          <img src="{{ user.imageUrl }}" alt="" />
          <p>{{ user.name }}</p>
        </div>
        }
      </div>
      <div class="chat-list">
        <div class="chat-list" [style.display]="(key.value.length ===0  ? 'block' : 'none')">
          @for (chat of chats; track $index) {

          <div class="chat" (click)="press(chat)">
            <app-chat [chat]="chat"></app-chat>
          </div>
          }
        </div>

      </div>
    </div>
    <div class="chat-room-cont col-11 col-lg-8 " (click)="press(opendChat)">
      <div class="chat-room" [style.display]="(hideChat  ? 'none' : 'block')">
        <app-chat-room [chat]="opendChat" [style.display]="opendChat.id ? 'block' : 'none'"></app-chat-room>
      </div>

    </div>

  </div>

</div>
