<div class="container-fluid">
  <div class="parent">
    <!-- start of the header -->
    <div class="head">
      <h1>Forget Password</h1>
      <p>You and Your Friends always Connected</p>
    </div>
    <!-- start of the image -->



    <!-- start of the form -->
    <form action="" [formGroup]="form">

      <!-- start of the email -->
      <div class="email">
        <label for="email">Email</label>
        <div class="input">
          <i class="bi bi-envelope"></i>
          <input type="text" name="email" formControlName="email" />
        </div>
        <!-- password error -->
        <div class="error">
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
          @if (form.get('email')?.errors?.['required']) {
          Email is required
          }
          @else if (form.get('email')?.errors?.['email']) {
          Email is invalid
          }
          }
        </div>
      </div>
      <!-- start of password -->
      <div class="password">
        <label for="password">Password</label>

        <div class="input">
          <i class="bi bi-key"></i>
          <input type="password" name="password" formControlName="password" />
        </div>
        <!-- password error -->
        <div class="error">
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
          @if (form.get('password')?.errors?.['required']) {
          Password is required
          }
          @else {
          Passowrd Must Contain 8 Characters,<br> One Uppercase Letter and One Number
          }}
        </div>
      </div>
      <!-- start of confirdPassword -->
      <div class="confirmPassword">
        <label for="confirmPassword">ConfirmPassword</label>

        <div class="input">
          <i class="bi bi-key"></i>
          <input type="password" name="confirmPassword" formControlName="confirmPassword" />
        </div>
        <!-- password error -->
        <div class="error">
          @if ((form.get('confirmPassword')?.invalid || form.errors?.['passwordMismatch'] )&&
          form.get('confirmPassword')?.touched ) {

          @if (form.get('confirmPassword')?.errors?.['required']) {
          Confirm Password is required
          }
          @else {
          Passwords Doesn't Match
          }}
        </div>
      </div>
    </form>

    <!-- submit -->
    <input class="btn" type="submit" value="Submit" (click)="submit()" [disabled]="isLoading" />


    <a routerLink="/login">Back to Login?</a>


  </div>

</div>